{% extends "base.html" %}

{% block content %}
<script>
    window.location.href = "{% url 'accounts:signin' %}";
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <p>Redirecting to login page...</p>
                    <a href="{% url 'accounts:signin' %}" class="btn btn-primary">
                        Click here if not redirected
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}