{% extends 'base.html' %}

{% block title %}{% if object %}Edit{% else %}Add{% endif %} Subject{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4>{% if object %}Edit{% else %}Add{% endif %} Subject</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">Subject Name</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.name.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.code.id_for_label }}" class="form-label">Subject Code</label>
                        {{ form.code }}
                        {% if form.code.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.code.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.description.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            
            <div class="d-flex justify-content-between">
                <a href="{% if object %}{% url 'subject_detail' object.pk %}{% else %}{% url 'subject_list' %}{% endif %}" class="btn btn-secondary">
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary">
                    {% if object %}Update{% else %}Create{% endif %} Subject
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}